body {
  background: #000000;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  margin: 0;
}

#background-image{
  background-image: url('./images/Skye.JPG');
  background-color: #c5c9c7;
  background-position: center center;
  background-blend-mode: color-burn;
  filter: blur(2px);
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  display: block;
  z-index: -1;
  position: fixed;
}

#page-wrapper{
  z-index: 9999;
}

#page-header{
  margin-top: 156px;
  margin-bottom: 123px;
  margin: 0;
  padding: 0;
}

#contact-info{
  list-style-type: none;
  color: #000000;
  font-size: 18px;
  padding-left: 0;
}

#download-button a{
  background-color: #bec4bf;
  border: none;
  border-radius: 3px;
  color: #000000;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  text-decoration: none;
}

#download-button a:hover{
  color: #2776f5;
}

#contact-info a{
  text-decoration: none;
  color: #000000;
}

#contact-info a:hover{
  color: #2776f5;
}

#page-header h1{
  color: #bfc9c2;
  text-align: center;
  text-shadow: 1px 1px #636363;
  font-size: 80px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 150px;
}

#page-header p{
  color: #000000;
  font-weight: bold;
  margin-bottom: 80px;
}

#headshot-image{
  background-image: url('./images/Headshot.png');
  background-position: center top;
  height: 185px;
  width: 175px;
  float: left;
  border-radius: 50%;
  border: 5px solid #cccccc;
  margin-left: -100px;
  margin-top: -125px;
  position: absolute;
}

#cv-content{
  background: #bec4bf;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

#cv-content h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  text-decoration: underline;
}

#employer-content{
  justify-content: center;
  align-items: center;
}

#about-me-list{
  padding-left: 0;
}

#general-info-content h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

#general-info-content p{
  padding-top: 10px;
}

#employer-list{
  padding-left: 0;
}

#employer-list h2{
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: -5px;
}

#employer-list li{
  display: inline-block;
  margin: 5px;
  padding: 8px;
  font-size: 18px;
}

#employer-list p{
  display: inline-block;
  margin: 5px;
  padding: 8px;
  font-size: 16px;
  color: black;
}

#education-content{
  justify-content: center;
  align-items: center;
}

#education-list{
  padding-left: 0;
}

#education-list h2{
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: -5px;
}

#education-list li{
  display: inline-block;
  margin: 5px;
  padding: 8px;
  font-size: 18px;
}

#education-list p{
  display: inline-block;
  margin: 5px;
  padding: 8px;
  font-size: 16px;
  color: black;
}

#footer{
  padding: 17px;
  font-size: 12px;
  color: #a3a3a3;
}
