body {
  background: #e3e3e3;
  text-align: center;
}

#page-wrapper h1{
  margin-top: 80px;
  color: #444;
  text-align: center;
  font-size: 80px;
}

#page-wrapper p{
  color: #17e354;
}

#cv-content{
  background: #f7f7f7;
  display: block;
  padding: 10px;
  border-radius: 15px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

#employer-list{
  padding: 0;
  text-align: center;
}

#employer-list li{
  display: inline-block;
  margin: 5px;
  padding: 8px;
}

#employer-list h2{
  font-size: 30px;
}
